* {
  margin: 0px;
  padding: 0px;
}
.head {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(0, 149, 255);
  color: white;
  height: 60px;
}
.london {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: row;
}

@media only screen and (min-width: 600px) and (max-width: 992px) {
  .box {
    width: 50%;
  }
  .box2 {
    width: 50%;
  }
  .container {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
